<table class="attrubutes__table">
    <thead>
        <tr>
            <th>{{localize "mutantchronicles.agility"}}</td>
            <th>{{localize "mutantchronicles.awerness"}}</td>
            <th>{{localize "mutantchronicles.coordination"}}</td>
            <th>{{localize "mutantchronicles.intelligence"}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input class="attribute__value" type="text" name="data.attribute.agility" value="{{data.attribute.agility}}"/>
            </td>
            <td>
                <input class="attribute__value" type="text" name="data.attribute.awerness" value="{{data.attribute.awerness}}"/>
            </td>
            <td>
                <input class="attribute__value" type="text" name="data.attribute.coordination" value="{{data.attribute.coordination}}"/>
            </td>
            <td>
                <input class="attribute__value" type="text" name="data.attribute.intelligence" value="{{data.attribute.intelligence}}"/>
            </td>           
        </tr>
    </tbody>
</table>